@{
    ViewBag.Title = "Home Page";
}

<body>
    <img src="~/Images/parkPic.jpg"     align ="left"  height="910" width="420"/>
    <img src="~/Images/ParkCleanUp.jpg" align ="right" height="910" width="420"/>
    <p align="center">
        <br/><br/><br/>
        Welcome to comunity improvement,<br/>
        This site has been setup to bring<br/>
        civic minded orginizations together<br/>
        with the volunteers that allow these <br/>
        jobs to be completed.<br/>
    </p>
</body>